---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import ContactUs from '~/components/widgets/Contact.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Features from '~/components/widgets/Features.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Aesthetic - Surgical websites, Authentic Ads',
  ignoreTitleTemplate: true,
};


---
<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Consultanos',
        href: 'https://calendly.com/brunoparis',
        target: '_blank',
        icon: '',
      },
    ]}
    image={{ src: '~/assets/images/pexels-daniel-frank-287227.jpg', alt: 'Hace volar tu práctica' }}
  >
    <Fragment slot="title">
      Websites a Medida para la<br><span class="text-accent highlight" >Medicina Estética</span>
    </Fragment>
    
    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        Ayudamos a profesionales de la Medicina Estética a ampliar sus carteras, fidelizar sus pacientes y mejorar su reputación. <span class="font-semibold">Garantizado por contrato.</span> 
      </span>
    </Fragment>
  </Hero>

   <!-- Steps2 Widget *************** -->
  <Steps2
    title="Amplia tu cartera y Mejora tu reputacion"
    subtitle="Según el análisis de la industria, tres cuartas partes de los receptores de servicios de salud buscan profesionales de la salud en línea. Además, casi el 90% de todos los clientes de atención médica menores de 40 años eligen a profesionales médicos basándose en si tienen una presencia en línea positiva y sólida.<br> Una página Web para proveedores de atención médica es vital.Trabajamos codo a codo con vos para desarrollar estrategias centradas en el paciente que aumenten la fidelidad a la práctica, la visibilidad de la marca y los ingresos, al mismo tiempo que reducen los costos de marketing de la industria médica.<br>Conoce como lo abordamos en 3 simples pasos:"
    items={[
      {
        title: 'Elegancia y Funcionalidad',
        description:
          'Creamos tu sitio web profesional y atractivo, optimizado para convertir y adaptado a las necesidades específicas de tus clientes',
      },
      {
        title: 'En Primera plana',
        description:
          'Aumentamos su presencia en los motores de búsqueda y convertimos más visitantes en clientes fieles con nuestro servicio de SEO',
      },
      {
        title: 'Servicio 5 Estrellas',
        description:
          'Monitoreamos y gestionamos tu reputación en línea, obteniendo y promoviendo testimonios positivos, y abordando de manera proactiva cualquier comentario negativo para construir y mantener una imagen positiva',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Steps2>
  
  <!-- Features2 Widget ************** -->

  <Features
  id="features"
  tagline="Beneficios"
  title="Que esperar de nosotros?"
  subtitle="Estos son algunos de los beneficios de tener una pagina web para consultorios y profesionales de la salud"
  items={[
    {
      title: 'Mayor Visibilidad en Línea',
      description:
        'Una página web optimizada con SEO aumentará la visibilidad de la práctica médica en los resultados de búsqueda, lo que facilitará que los pacientes potenciales la encuentren cuando busquen servicios médicos específicos',
      icon: 'tabler:brand-tailwind',
    },
    {
      title: 'Atracción de Pacientes Calificados',
      description:
        'El SEO dirigido a palabras clave relevantes atraerá a pacientes que estén específicamente interesados en los servicios médicos ofrecidos, lo que aumentará la probabilidad de que esos visitantes se conviertan en pacientes reales',
      icon: 'tabler:components',
    },
    {
      title: 'Fortalecimiento de la Credibilidad y Confianza',
      description:
        'Una página web bien diseñada y optimizada transmite profesionalismo y confiabilidad, lo que ayuda a fortalecer la credibilidad de la práctica médica en línea y aumentar la confianza de los pacientes potenciales',
      icon: 'tabler:list-check',
    },
    {
      title: 'Control de la Imagen de Marca',
      description:
        'La gestión de la reputación en línea permite a la práctica médica controlar activamente la imagen de su marca, respondiendo de manera efectiva a comentarios y críticas, y asegurándose de que la percepción pública sea positiva',
      icon: 'tabler:rocket',
    },
    {
      title: 'Reducción de Opiniones Negativas',
      description:
        "Al monitorear y gestionar proactivamente las revisiones y comentarios en línea, se pueden abordar rápidamente los problemas y preocupaciones de los pacientes, lo que reduce la posibilidad de que las opiniones negativas afecten la reputación de la práctica médica",
      icon: 'tabler:arrows-right-left',
    },
    {
      title: 'Diferenciación en el Mercado',
      description:
        'Una página web optimizada con SEO y una sólida gestión de reputación pueden diferenciar a la práctica médica de la competencia, posicionándola como una opción preferida para los pacientes en busca de atención médica de alta calidad y confiable',
      icon: 'tabler:bulb',
    },
  ]}

/>


  <Features2
    id="Servicios"
    title="Encontra valor en cada uno de nuestros servicios"
    items={[
      {
        title: 'Desarrollo y Optimización de Páginas Web',
        description:
          "La mejor vitrina digital para atraer y cautivar con tus resultados",
        icon: 'flat-color-icons:template',
        
      },
      {
        title: 'Gestión de Reputación Online',
        description:
          'Cuidamos tu imagen de cara al cliente, asegurando esas 5 estrellas',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Optimización de motor de Busqueda (SEO)',
        description:
          'Te ponemos en la primera plana, en todos lados',
        icon: 'flat-color-icons:database',
      },
    ]}
      callToAction1={[
        {
          variant: 'primary',
          text: 'Conocé mas',
          href: getPermalink('/services'),
          icon: '',
        },
      ]}

  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>

  </Features2>

  <!-- Steps Widget ****************** -->

  <Steps
    id="Pasos"
    title="Cómo Adquirir Nuestros Servicios "
    items={[
      {
        title: '1: <span class="font-medium">Consulta Inicial</span>',
        description:
          "Realiza una consulta inicial gratuita para comprender tus necesidades específicas",
        icon: 'tabler:package',
      },
      {
        title: '2: <span class="font-medium">Evaluación de Necesidades</em>',
        description:
          "Analizamos detalladamente tus necesidades, tus objetivos comerciales y las áreas específicas donde necesitas apoyo en la digitalización",
        icon: 'tabler:letter-case',
      },
      {
        title: '3: <span class="font-medium">Presentación de Propuesta</span>',
        description:
          'Destacamos los beneficios que puede tener tu practica con nuestros servicios',
        icon: 'tabler:paint',
      },
      {
        title: '4: <span class="font-medium">Firma del Contrato</span>',
        description:
          'Firmamos el contrato detallando los servicios, plazos, tarifas y nuestra promesa',
        icon: 'tabler:paint',
      },
      {
        title: 'Listo!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <ContactUs
  names="url"
  id="Consulta"
  title="Compartinos tu pagina web"
  subtitle="Para ver como podemos ayudarte, copia y pega la URL de tu pagina web aca abajo"
  inputs={[
    {
      type: 'url',
      name: 'url',
      label: 'URL',
    },
  ]}
  button="Consultá Gratis"
  description="Respondemos dentro de las 24hs."
/>
<Features3
    title="A quienes ayudamos?"
    subtitle="Trabajamos estrechamente con diferentes tipos de prácticas médicas para aumentar sus listas de pacientes, mejorar la satisfacción del paciente y hacer crecer tus ingresos, al mismo tiempo que reducimos el gasto general en marketing de salud."
    columns={4}
    isBeforeContent={true}
    items={[
      {
        title: 'Odontología - Estética Dental',
        description:
          'Profesionales que se realizan procedimientos como Carillas dentales, Reconstrucciones dentales, Ortodoncia.',
        icon: 'tabler:dental',
      },
      {
        title: 'Cirugía Estética',
        description:
          'Profesionales que realizan procedimientos como Liposucción, Mamoplastía, Rinoplastía, Reconstrucciones.',
        icon: 'tabler:medical-cross',
      },
      {
        title: 'Medical Spa',
        description:
          'Profesionales que realizan procedimientos como Inyecciones de Botox, Dysport y Xeomin, Inyecciones de relleno dérmico, Tratamientos con láser.',
        icon: 'tabler:needle',
      },
      {
        title: 'Centros medicos Capilares',
        description:
          'Profesionales que realizan procedimientos como Implantes Capilares, Mesoterapia Capilar.',
        icon: 'tabler:pills',
      },

    ]}
  />

  <FAQs
    title="Preguntas Frecuentes"
    subtitle="Dudas que Generalmente tienen los doctores sobre el Marketing Digital y el Diseño web"
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '¿En que tipo de practicas se especializan?',
        description:
          "Nos especializamos en una gran variedad de especialidades medicas como Cuidado Capilar, Medical Spas y Cirujanos Plásticos.",
      },
      {
        title: '¿Hacen Rediseño de página web?',
        description:
          'Absolutamente. Nuestra primera acción será evaluar el rendimiento de su sitio web actual. A partir de ahí, si es necesario, rediseñaremos su sitio web según sus especificaciones, construido sobre un sólido marco de SEO para un rendimiento mejorado.',
      },
      {
        title: '¿Me garantizan los resultados con el Marketing Digital?',
        description:
          "Las garantías en los servicios de marketing son algo inaudito en la industria de la salud, pero aquí hacemos las cosas de manera diferente. Garantizamos resultados en 60 días. De no llegar a nuestros objetivos, devolvemos la totalidad de la tarifa (excluyendo anuncios)",
      },
      {
        title: "¿En cuanto tiempo se ven los resultados con sus servicios?",
        description:
          "La respuesta depende de cuán agresivamente desee emprender sus esfuerzos de marketing en el ámbito de la salud. ¿Se centrará únicamente en generar tráfico orgánico (a más largo plazo)? ¿Incluirá anuncios? ¿Está su sitio web optimizado y listo para clasificarse alto en Google? Todos estos factores influyen en la ecuación. Dicho esto, generalmente empezamos a ver resultados tangibles alrededor del día 90, con un aumento constante a partir de ese momento.",
      },
      {
        title: '¿Cuanto se gasta normalmente en Marketing Digital?',
        description:
          "Las prácticas privadas de tamaño pequeño a menudo pueden gastar desde U$1,000 a U$3,000 o más al mes, mientras que las prácticas médicas grandes pueden gastar más de U$10,000 al mes en campañas de marketing. La respuesta es que realmente depende de sus objetivos y presupuesto.",
      },
    ]}
  />

</Layout>
