---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    title="Desarrollo Web, SEO y Reputación Online: Herramientas Esenciales para su práctica"
    subtitle="Descubra cómo Construir una Marca Personal Fuerte y Duradera en el Contexto Digital de la Salud, Utilizando Herramientas Estratégicas para Proyectar Confianza y Profesionalismo en cada Interacción en la Web"
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'AstroWind Hero Image',
    }}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    items={[
      {
        title: 'Presencia Profesional',
        description:
          'Un sitio web bien diseñado y funcional ofrece una imagen profesional y confiable de tu práctica médica.',
        icon: 'tabler:wand',
      },
      {
        title: 'Accesibilidad y Comodidad:',
        description:
          'Proporciona a los pacientes acceso fácil y conveniente a información importante, como servicios ofrecidos, ubicación y contacto, lo quefomenta la interacción con tu práctica.',
        icon: 'tabler:settings',
      },
      {
        title: 'Personalización y Diferenciación',
        description:
          'Un sitio web personalizado te permite destacar los aspectos únicos de tu práctica médica, lo que te diferencia de la competencia.',
        icon: 'tabler:presentation',
      },
      {
        title: 'Nuevos Pacientes',
        description:
          ' Un sitio web optimizado aumenta la visibilidad de tu práctica médica en línea, lo que puede expandir tu base de clientes.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Diseño Web</h3>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Construcción de Confianza',
        description:
          'Protegemos y fortalecemos la percepción pública de tu práctica médica, lo que construye confianza entre los pacientes actuales y potenciales.',
        icon: 'tabler:clock',
      },
      {
        title: 'Satisfaccion del Paciente',
        description:
          'Abordamos de manera efectiva cualquier comentario negativo o crítica en línea, demostrando tu compromiso con la satisfacción del paciente',
        icon: 'tabler:school',
      },
      {
        title: 'Promoción de Comentarios Positivos',
        description:
          'Fomentar y destacar los comentarios positivos mejora la imagen de tu práctica médica y atrae nuevos pacientes que confíen en la calidad de tus servicios.',
        icon: 'tabler:coin',
      },
      {
        title: 'Experiencia del Paciente',
        description:
          'Influimos en la percepción del paciente sobre tu práctica médica, lo que contribuye a una experiencia general más positiva.',
        icon: 'tabler:file-download',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1552664688-cf412ec27db2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
      alt: 'Benefits Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Gestion de Reputación</h3>
    </Fragment>
  </Content>

  <Content
  isReversed
  isAfterContent
  items={[
    {
      title: 'Mayor Visibilidad en Línea',
      description:
        'La Optimizacion de SEO aumenta su visibilidad y la probabilidad de ser encontrado por pacientes potenciales que buscan servicios médicos.',
      icon: 'tabler:wand',
    },
    {
      title: 'Generación de Tráfico Calificado',
      description:
        'Al optimizar tu sitio web para palabras clave relevantes relacionadas con tu especialidad médica, puedes atraer tráfico altamente cualificado de personas interesadas en los servicios que ofreces.',
      icon: 'tabler:settings',
    },
    {
      title: 'Aumento de la Autoridad de la Marca',
      description:
        'Una estrategia de SEO eficaz puede ayudar a posicionar tu práctica médica como una autoridad en tu campo, al proporcionar contenido de alta calidad.',
      icon: 'tabler:presentation',
    },
    {
      title: 'Retorno de la Inversión Sostenible',
      description:
        'A largo plazo, el SEO puede ofrecer un ROI sostenible y rentable, ya que una vez que tu sitio web alcanza posiciones altas en los motores de búsqueda, continúa atrayendo tráfico orgánico sin la necesidad de grandes inversiones en publicidad.',
      icon: 'tabler:carousel-horizontal',
    },
  ]}
  image={{
    src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
    alt: 'Features Image',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Optimización de Motores de Búsqueda</h3>
  </Fragment>
</Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    title="Words from real customers"
    testimonials={[
      {
        testimonial: `The designs are not only visually appealing but also highly professional. The templates have saved me a significant amount of time while helping me make a lasting impression on my clients.`,
        name: 'Emily Kennedy',
        job: 'Front-end developer',
        image: {
          src: 'https://images.unsplash.com/photo-1618835962148-cf177563c6c0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=930&q=80',
          alt: 'Emily Kennedy Image',
        },
      },
      {
        testimonial: `It beautifully showcases my work, with its clean and elegant design that lets my photographs shine. Customization was a breeze, even for a non-tech person like me. The result is a professional and immersive portfolio that's garnered numerous compliments.`,
        name: 'Sarah Hansen',
        job: 'Photographer',
        image: {
          src: 'https://images.unsplash.com/photo-1561406636-b80293969660?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Sarah Hansen Image',
        },
      },
      {
        testimonial: `I discovered these templates and I'm impressed by their variety and quality. They've helped me establish a consistent brand image across my marketing and social platforms, elevating my business's overall appearance.`,
        name: 'Mark Wilkinson',
        job: 'Small business owner',
        image: {
          src: 'https://images.unsplash.com/photo-1545167622-3a6ac756afa4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=824&q=80',
          alt: 'Mark Wilkinson Image',
        },
      },
    ]}
    callToAction={{
      target: '_blank',
      text: 'More testimonials...',
      href: 'https://github.com/onwidget/astrowind',
      icon: 'tabler:chevron-right',
    }}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[{
      variant: "primary",
      text: 'Start exploring',
      href: '/',
    }]}
    title="Dive into our template collection"
    subtitle="Whether you're in business, design, or education, our templates are here to elevate your projects."
  />
</Layout>
